<div id="Pokemons" class="container text-center">
    <h3>Sua lista de Pokemons</h3>
    <div class="row">
        <div class="col-sm-5"  *ngFor="let product of data.products | async">
            <a href="pokemons-detail.html" data-toggle="collapse">
                <img src="assets/img/bulbassauro.png" class="img-circle person" alt="Random Name" width="255"
                    height="255">
            </a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>{{product.name}}</strong></p><br>
            <button type="button" class="btn btn-warning" (click)="openModal(template, product)">Detalhes</button>
        </div>
        <div class="col-sm-5">
            <a href="pokemons-detail.html" data-toggle="collapse"><img src="assets/img/blastoise.png"
                    class="img-circle person" alt="Random Name" width="255" height="255"></a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>Blastoise</strong></p><br>
            <button type="button" class="btn btn-warning">Detalhes</button>
        </div>
        <div class="col-sm-5">
            <a href="pokemons-detail.html" data-toggle="collapse"><img src="assets/img/squirtle.png"
                    class="img-circle person" alt="Random Name" width="255" height="255"></a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>Squirtle</strong></p><br>
            <button type="button" class="btn btn-warning">Detalhes</button>
        </div>
        <div class="col-sm-5">
            <a href="pokemons-detail.html" data-toggle="collapse"><img src="assets/img/caterpie.png"
                    class="img-circle person" alt="Random Name" width="255" height="255"></a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>Squirtle</strong></p><br>
            <button type="button" class="btn btn-warning">Detalhes</button>
            <!-- <ngbd-modal-content>
                </ngbd-modal-content> -->
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ data.product.name }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ data.product.about }}
    </div>
</ng-template>