<div id="Pokemons" class="container text-center">
    <h3>Sua lista de Pokemons</h3>
    <div class="row">
        <div class="col-sm-5">
            <a href="pokemons-detail.html" data-toggle="collapse">
                <img src="assets/img/bulbassauro.png" class="img-circle person" alt="Random Name" width="255"
                    height="255">
            </a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>Bulbassauro</strong></p><br>
            <button type="button" class="btn btn-warning">Detalhes</button>
        </div>
        <div class="col-sm-5">
            <a href="pokemons-detail.html" data-toggle="collapse"><img src="assets/img/blastoise.png"
                    class="img-circle person" alt="Random Name" width="255" height="255"></a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>Blastoise</strong></p><br>
            <button type="button" class="btn btn-warning">Detalhes</button>
        </div>
        <div class="col-sm-5">
            <a href="pokemons-detail.html" data-toggle="collapse"><img src="assets/img/squirtle.png"
                    class="img-circle person" alt="Random Name" width="255" height="255"></a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>Squirtle</strong></p><br>
            <button type="button" class="btn btn-warning">Detalhes</button>
        </div>
        <div class="col-sm-5">
            <a href="pokemons-detail.html" data-toggle="collapse"><img src="assets/img/caterpie.png"
                    class="img-circle person" alt="Random Name" width="255" height="255"></a>
            <p class="text-center" style="color:rgb(214, 42, 191)"><strong>Squirtle</strong></p><br>
            <button type="button" class="btn btn-warning">Detalhes</button>
            <!-- <ngbd-modal-content>
                </ngbd-modal-content> -->
        </div>
    </div>
</div>